<div class="text-center">
  <mat-card class="login">
    <h1>Prueba Iris - Login</h1>
    <form ngNativeValidate (ngSubmit)="submit()">
      <mat-form-field appearance="fill">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" required [(ngModel)]="email" name="email">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput required [(ngModel)]="password" name="password">
      </mat-form-field>
      <br>
      <u (click)="recoveryPassword()">Recuperar mi contraseña</u>
      <br>
      <br>
      <button mat-raised-button>Ingresar</button>
    </form>
    <br><br>
    <button mat-raised-button (click)="signInGoogle()">Ingresa con google</button>
    <br><br>
    <button mat-raised-button (click)="goToRegister()">Crear una cuenta</button>
  </mat-card>
</div>

<app-loading [loading]="loading"></app-loading>

